@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer utilities {
    .animate-infinite-scroll {
      animation: infinite-scroll 10s linear infinite;
    }
  
    @keyframes infinite-scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
  }

.maskImg {
  mask-image: linear-gradient(black 50%, transparent);
}