---
---
<button 
{...Astro.props}
id="toggle-theme" 
class="text-2xl px-3 py-1 ms-5 font-semibold rounded-xl bg-slate-500/10 text-slate-800 dark:bg-white dark:text-slate-800 transition-colors duration-300 ease-in-out">
    游꺀
</button>

<script>
    document.addEventListener('DOMContentLoaded', () => {
      const themeToggle = document.getElementById('toggle-theme');
      if (!themeToggle) return; // Si no existe el bot칩n, salir
  
      const htmlElement = document.documentElement;
  
      // Obtener el tema de localStorage
      const currentTheme = localStorage.getItem('theme') || 'light';
  
      // Aplicar el tema al cargar la p치gina
      if (currentTheme === 'dark') {
        htmlElement.classList.add('dark');
        themeToggle.innerText = '游꺃'; // Cambiar texto del bot칩n a "oscuro"
      } else {
        themeToggle.innerText = '游꺀'; // Cambiar texto del bot칩n a "claro"
      }
  
      // Cambiar el tema al hacer clic
      themeToggle.addEventListener('click', () => {
        const newTheme = htmlElement.classList.toggle('dark') ? 'dark' : 'light';
        themeToggle.innerText = newTheme === 'dark' ? '游꺃' : '游꺀';
        localStorage.setItem('theme', newTheme); // Guardar el nuevo tema
      });
    });
  </script>
  
  
