---
import astroLogo from '../assets/astro.svg';
---

<div id="container">
	<main>
		<section id="hero">
			<a href="https://astro.build"
				><img src={astroLogo.src} width="115" height="48" alt="Astro Homepage" /></a
			>
			<h1 class="font-bold">
				To get started, open the <code><pre>src/pages</pre></code> directory in your project.
			</h1>
		</section>
	</main>
</div>

<style>
	
</style>
